# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Logs
logs/
*.log

# Config
config*
!config.sample.yaml
!config.sample.ini

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/